html {
  height: 100vh;
}

body {
  height: 500vh;
  background: #000;
  overflow-x: hidden;
}

.footer{
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

canvas {
  z-index: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  transition: background-color 0.3s ease-in-out;
}

nav:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px; /* Add some space between links */
}

@media screen and (max-width: 768px) {
  nav li {
    margin: 0 10px; /* Smaller margin for smaller screens */
  }
}

nav a {
  display: block;
  padding: 20px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif; 
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #42a5f5;
}
img{
  width: 4%;
  height: 4%;
  display: block;
  float: left;
}


.arrow_down{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.arrow {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}
.arrow-img{ 
  z-index: 1;
  
  color: white !important;
  text-decoration: none;
  
  animation: fadeinarrow 2s;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}






.title-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50%;
  
  /* margin-top: -100px; */
 
  font-size: 72px;
  z-index: 1;
  background: linear-gradient(to left,#000dff, #00ff59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.subtitle{
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 60%;
  font-size: 72px;
  z-index: 1;
  background: linear-gradient(to left,#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  font-size: 50px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeinarrow {
  0%, 90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.text-block-1{
  /* margin-right: 20%;
  margin-left: 20%; */
  padding-right: 20%;
  padding-left: 20%;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 110%;
  font-size: 72px;
  z-index: 1;
  background: linear-gradient(to left,#ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  font-size: 30px;
}