html {
  height: 100vh;
}

body {
  height: 200vh;
  background: #000;
  overflow-x: hidden;
}

.footer {
  z-index: 1;
  /* position: fixed; */
  position: absolute;

  left: 0;
  bottom: -100vh;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

canvas {
  z-index: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  transition: background-color 0.3s ease-in-out;
}

#navbar:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

#navbar li {
  margin: 0 20px;
  /* Add some space between links */
}

@media screen and (max-width: 768px) {
  #navbar li {
    margin: 0 10px;
    /* Smaller margin for smaller screens */
  }
}

#navbar a {
  display: block;
  padding: 20px;
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  transition: color 0.3s ease-in-out;
}

#navbar a:hover {
  color: #42a5f5;
}

img {
  width: 4%;
  height: 4%;
  display: block;
  float: left;
}


.arrow_down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.arrow {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.arrow-img {
  z-index: 1;

  color: white !important;
  text-decoration: none;

  animation: fadeinarrow 2s;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}






.title-gradient {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 50%;

  /* margin-top: -100px; */

  font-size: 72px;
  z-index: 1;
  background: linear-gradient(to left, #000dff, #00ff59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

.subtitle {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 60%;
  font-size: 72px;
  z-index: 1;
  background: linear-gradient(to left, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  font-size: 50px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeinarrow {

  0%,
  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text-block-1 {
  /* margin-right: 20%;
  margin-left: 20%; */
  padding-right: 20%;
  padding-left: 20%;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  top: 110%;
  font-size: 72px;
  z-index: 1;
  background: linear-gradient(to left, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: normal;
  font-size: 30px;
}


a.button1 {
  margin: 0 auto;
  position: absolute;
  width: 10%;
  left: 45%;
  text-align: center;
  top: 140%;

  z-index: 1;

  display: inline-block;
  border: 0.1em solid #5FABA5;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #5FABA5;

  font-size: 2rem;

  transition: all 0.2s;
}

a.button1:hover {
  color: #000000;
  background-color: #5FABA5;
}

@media all and (max-width:30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

@media (pointer:none),
(pointer:coarse) {
  a.button1 {
    margin: 0 auto;
    position: absolute;
    width: 40%;
    left: 27%;
    text-align: center;
    top: 150%;

    z-index: 1;

    display: inline-block;
    border: 0.1em solid #5FABA5;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #5FABA5;

    font-size: 3rem;

    transition: all 0.2s;
  }

  .title-gradient {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 5%;

    font-size: 72px;
    z-index: 1;
    background: linear-gradient(to left, #000dff, #00ff59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
  }

  .subtitle {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 18%;
    font-size: 72px;
    z-index: 1;
    background: linear-gradient(to left, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-size: 50px;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
  }

  .text-block-1 {
    /* margin-right: 20%;
    margin-left: 20%; */
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 60%;
    font-size: 50px;
    z-index: 1;
    background: linear-gradient(to left, #ffffff, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    font-size: 30px;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
  }

}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d00;
  position: relative;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #000000;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}